<h1>todo-component works!</h1>
<div class="banner"></div>
<span>
  <ul class="todo-list">
    <li
      class="todo-item"
      [ngClass]="{ completed: item.completed }"
      *ngFor="let item of todoList"
    >
      <label class="checkbox-container">
        <input
          type="checkbox"
          [(ngModel)]="item.completed"
          (change)="taskCompleted(item)"
        />
        <span class="checkmark"></span>
      </label>
      <span class="task-text" [ngClass]="{ 'completed-text': item.completed }">
        {{ item.listItem }} {{ item.createdAt }}
      </span>
    </li>
  </ul>
</span>
<input
  class="task-input"
  type="text"
  [(ngModel)]="todoText"
  placeholder="Enter the task"
/>
<button
  class="add-button"
  mat-fab
  color="warn"
  type="submit"
  (click)="getData(todoText)"
>
  Add
</button>
