<div class="container">
  <div class="child c1">
    <button
      class="add-button"
      mat-fab
      color="warn"
      type="submit"
      (click)="openAddTodoDialog()"
    >
      Add
    </button>

    <ul>
      <li *ngFor="let item of todoList" class="list-items">
        <div [class.completed]="item.completed">{{ item.listItem }}</div>
        <button mat-icon-button color="primary" (click)="taskCompleted(item)">
          <mat-icon>{{
            item.completed ? "check_circle" : "radio_button_unchecked"
          }}</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="child c2 counter">
    <span class="completed-text">completed: {{ getCompletedCount() }} </span>
    <span class="incompleted-text"
      >incompleted: {{ getIncompleteCount() }}
    </span>
  </div>
</div>
